* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; /* default font */
    font-size: 14px;
    color: #4E443C; /* default font colot */
    display: -webkit-flex;
    display: flex;       /* ** to make nav on the left ** */
 	  flex-direction: row; /* ** to make nav on the left ** */
}
nav {
    background: #d1f2eb;
    padding: 1px;
}
main {
    background: #e8f6f3;
    padding: 5px;
}
ul {
    list-style: circle;
    padding: 10px;
    margin: 5px;
    line-height: 2;
}
.divstyle1 {
  background: #abebc6;
  border-radius: 6px;
  margin: 1px;
}
.divstyle2 {
  background: #d4efdf;
  padding: 1px;
}
.header {
  font-family: Georgia, serif;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
  padding-bottom: 5px;
  }
.navul {
    list-style: none;
}
.navigation {
  	flex: 1;
}
.content {
    flex: 5;
}
.credits {
    font-size: 12px;
    margin-top: 40px;

}
