/* This is a CSS comment.*/


/* from the lesson notes

.app {
    display: -webkit-flex;
    display: flex;
}

*/
   
* {
    outline: 1px solid red !important; /* for troubleshooting */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
}
body {
 	  display: flex;
 	  min-height: 100vh;
 	  flex-direction: row;
  	margin: 0;
}
article, nav {
    padding: 1em;
}

.navigation {
    background: #5499c7;
  	flex: 1;
}
.content {
    background: #ebf5fb;
    display: flex;
    flex-direction: column;
    flex: 4;
}
.content > article {
}


