* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; /* default font */
    color: #4E443C; /* default font colot */
    display: -webkit-flex;
    display: flex;       /* ** to make nav on the left ** */
 	flex-direction: row; /* ** to make nav on the left ** */
}
nav {
    background: #D5F5E3;
    list-style: none;
}
main {
    background: #FBFCFC; 
}
article, nav {
    padding: 10px;
}
div {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}
h1 { 
    font-family: Georgia, serif;
    font-variant: small-caps; 
    text-transform: none; 
    font-size: 30px;
    font-weight: 100; 
    margin-bottom: 0;
}
h2 { 
    font-family: Georgia, serif;
    font-variant: small-caps; 
    text-transform: none; 
    font-weight: 100; 
    margin-top: 30px;
    margin-bottom: 0;
}
h3 { 
    font-family: Georgia, serif;
    font-variant: small-caps; 
    text-transform: none; 
    font-weight: 100; 
    margin-bottom: 0;
}
p {
    font-size: 14px;
    margin-top: 15px;
}
ul {
    list-style: circle;
    padding: 10px;
    margin: 5px;
    line-height: 2;
}
#whatis {
    background: #F2F3F4; 
}
#ketoloseweight{
    background: #F2F3F4; 
}
#otherbenefits{
    background: #F2F3F4;     
}
#foods2eat{
    background: #F2F3F4;     
}
#sideeffects{
    background: #F2F3F4;
}
.navul {
    list-style: none;
    margin: 0;
}
.navigation {
  	flex: 1;
}
.content {
    flex: 5;
}
.credits {
    font-size: 12px;
    margin-top: 40px;

}
